/Doc/err-ExcelToCsv.log
/DinosaurMuseum_URP/.vs
/DinosaurMuseum_URP/Library
/DinosaurMuseum_URP/Logs
/DinosaurMuseum_URP/obj
/DinosaurMuseum_URP/Assembly-CSharp.csproj
/DinosaurMuseum_URP/Assembly-CSharp-Editor.csproj
/DinosaurMuseum_URP/UnityGameFramework.Editor.csproj
/DinosaurMuseum_URP/UnityGameFramework.Runtime.csproj
DinosaurMuseum_URP/Temp/
*.csproj
DinosaurMuseum_URP/UserSettings/QuickSearch.settings
