/Doc/err-ExcelToCsv.log
/DinosaurMuseum/.vs
/DinosaurMuseum/Library
/DinosaurMuseum/Logs
/DinosaurMuseum/obj
/DinosaurMuseum/Assembly-CSharp.csproj
/DinosaurMuseum/Assembly-CSharp-Editor.csproj
/DinosaurMuseum/UnityGameFramework.Editor.csproj
/DinosaurMuseum/UnityGameFramework.Runtime.csproj
